@import "tailwindcss";


.thin-scrollbar::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: gray;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(97, 89, 89, 0.3);
  border-radius: 899px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}
